div
{
    background-image: linear-gradient(#4CAF50, aqua);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

@media all and (width: 900px) {
    *
    {
        width:900px;
    }
}
table
{
    width: 900px;
    position: center;
    left: calc(50% - 450px);
}
.catalog-item {
    width: 900px;
}
